body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    border-radius: 10px;
    background-color: #333;
    padding: 15px;
    max-width: 320px; /* Adjusted for 4 blocks */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-height: 90vh;
}

.calculator-screen {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 24px;
    color: black;
    text-align: right;
    box-sizing: border-box;
}

/* Flexbox container for buttons */
.calculator div {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to a new line after 4 items */
    justify-content: space-between;
}

button {
    width: 23%; /* Buttons take roughly 1/4th of the row */
    height: 45px;
    margin: 1%; /* Spacing between buttons */
    font-size: 18px;
    color: rgb(12, 224, 23);
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #2d4224;
}

button.operator {
    background-color: #1553da;
}

button.clear {
    background-color: #c618cc;
}

button.equal {
    background-color: #485353;
}
